.tabs {
	border-bottom:1px solid #000;
}
.tabs input[type=radio] {
	display:none;
}
.tabs input[type=radio]+label {
	display:inline-block;
	padding: 2px 8px;
}
.tabs input[type=radio]:checked+label {
	border: 1px solid #000;
	border-bottom: 1px solid #FFF;
	margin-bottom: -1px;
}


body  {
    background-color: #FFFFFF;
    font-family:  sans-serif;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav   li{
    float: left;
}
.nav li a
 {
    
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #111;
}

.footer ul {
   text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.footer   li{
    float: right;
}
.footer li a
 {
    font-size: 15px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}

.footer a:hover {
    background-color: #111;
}